<div class="sub-header">
  <p class="epix-signature bold">EPIX Connect (Electronic Permit Information eXchange)</p>
  <p class="epix-intro"><%= t('epix') %></p>
</div>
<div class="main-content">
  <div class="logo-container">
    <%= image_tag("epix_main_logo_large.png", class: "epix-main-logo") %>
  </div>
  <div class="permit-search">
    <p class="bold blue"><%= t('search_permit') %></p>
    <p><%= t('search_permit_info') %></p>
    <%= link_to "CITES Permit Search", permits_path, class: "button search-button" %>
  </div>
</div>
