<div class="endorsement-and-bill border-btm-2">
  <div class="row hor-padded-15">
    <div class="col col-xs-4 col-md-4 col-lg-4">
      <div class="permit-field field-title">
        14. <%= t('endorsement') %>
      </div>
      <table class="endorsement-table">
        <thead>
          <tr>
            <th class="endorsement-block permit-field field-title"><%= t('block') %></th>
            <th class="endorsement-quantity permit-field field-title"><%= t('quantity') %></th>
          </tr>
        </thead>
        <tbody>
          <%# for each species (see species table) do %>
            <tr>
              <td class="endorsement-block"><%= "Placeholder" %></td>
              <td class="endorsement-quantity"><%= "Placeholder" %></td>
            </tr>
          <%# end %>
          <!-- just as an example -->
            <tr>
              <td class="endorsement-block"><%= "Placeholder" %></td>
              <td class="endorsement-block"><%= "Placeholder" %></td>
            </tr>
            <tr>
              <td class="endorsement-block"><%= "Placeholder" %></td>
              <td class="endorsement-block"><%= "Placeholder" %></td>
            </tr>
            <tr>
              <td class="endorsement-block"><%= "Placeholder" %></td>
              <td class="endorsement-block"><%= "Placeholder" %></td>
            </tr>
          <!-- just as an example -->
        </tbody>
      </table>
    </div>
    <div class="col col-xs-8 col-md-8 col-lg-8">
      <div class="permit-field field-title inline">
        15. <%= t('bill') %>
      </div>
      <div class="permit-value inline"><%= @permit.transport_document %></div>
      <div class="vertical-fields">
        <div class="vertical-fields-first inline">
          <div class="permit-value border-btm"><%= @permit.port_of_export %></div>
          <div class="permit-field field-title">
            <%= t('port') %>
          </div>
        </div>
        <div class="vertical-fields-second inline">
          <div class="permit-value border-btm"><%= @permit.date_of_export %></div>
          <div class="permit-field field-title">
            <%= t('date') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
