<div class="import-export-row row row-container">
  <div class="col col-xs-6 col-md-6 col-lg-6 permit-col border-btm">
    <div class="row permit-row height-70 border-btm">
      <div class="permit-field">
        <span class="field-title">
          3. <%= t('importer').html_safe %>
        </span>
      </div>
      <div class="permit-value"><%= "Placeholder" %></div>
    </div>
    <div class="row permit-row height-30">
      <div class="permit-field field-title inline">
        3a. <%= t('country_of_import') %>
      </div>
      <div class="permit-value inline"><%= "Placeholder" %></div>
    </div>
  </div>
  <div class="col col-xs-6 col-md-6 col-lg-6 permit-col border-lft">
    <div class="row permit-row height-100 ver-padded-20">
      <div class="permit-field">
        <span class="field-title">
          4. <%= t('exporter').html_safe %>
        </span>
      </div>
      <div class="permit-value"><%= "Placeholder" %></div>
    </div>
  </div>
</div> <!-- Import-export row -->
