<div class="issued-by border-btm-2">
  <div class="permit-field field-title inline">
    13. <%= t('issued_by') %>
  </div>
  <div class="permit-value inline"><%= "Placeholder" %></div>
  <div class="vertical-fields">
    <div class="vertical-fields-first inline">
      <div class="permit-value border-btm"><%= "Placeholder" %></div>
      <div class="permit-field field-title">
        <%= t('place') %>
      </div>
    </div>
    <div class="vertical-fields-second inline">
      <div class="permit-value border-btm"><%= "Placeholder" %></div>
      <div class="permit-field field-title">
        <%= t('date') %>
      </div>
    </div>
  </div>
</div>
