<div class="species-details-table">
  <%# for each species_details do |species_detial| %>
    <%= render "species_details_block" %>
    <%= render "species_details_block" %>
    <%= render "species_details_block" %>
    <%= render "species_details_block" %>
  <%# end %>
</div>
<div class="country-info border-btm">
<%= t('country_info') %>
</div>
