<div class="species-details-container">
  <div class="species-details-header row row-container border-btm-2">
    <div class="col col-70 permit-col">
      <div class="row hor-padded-15">
        <div class="col col-xs-6 col-md-6 col-lg-6">
          <div class="permit-field">
            <span class="field-title">
              7./8. <%= t('scientific_common_name').html_safe %>
            </span>
          </div>
        </div>
        <div class="col col-xs-6 col-md-6 col-lg-6">
          <div class="permit-field">
            <span class="field-title">
              9. <%= t('specimens').html_safe %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-10 permit-col border-lft padded-15">
      <div class="permit-field field-title">
        10. <%= t('appendix_no').html_safe %>
      </div>
    </div>
    <div class="col col-10 permit-col border-lft padded-15">
      <div class="permit-field">
        <span class="field-title">
          11. <%= t('quantity_unit').html_safe %>
        </span>
      </div>
    </div>
    <div class="col col-10 permit-col border-lft padded-15">
      <div class="permit-field field-title">
        11a. <%= t('quota') %>
      </div>
    </div>
  </div>
  <%= render "species_details_table" %>
</div>
