<div class="species-details-block row row-container">
  <div class="col permit-col index-col">
    <div class="index-value bold">A</div>
  </div>
  <div class="col block-col permit-col">
    <div class="row species-details-row height-53">
      <div class="col species-col-big permit-col">
        <div class="row row-container permit-row hor-padded-15">
          <div class="col col-xs-6 col-md-6 col-lg-6">
            <div class="permit-field field-title">7./8.</div>
            <div class="permit-value"><%= "Placeholder" %></div>
          </div>
          <div class="col col-xs-6 col-md-6 col-lg-6">
            <div class="permit-field field-title">9.</div>
            <div class="permit-value"><%= "Placeholder" %></div>
          </div>
        </div>
      </div>
      <div class="col species-col-small permit-col border-lft padded-15 border-btm">
        <div class="permit-field field-title">10.</div>
        <div class="permit-value"><%= "Placeholder" %></div>
      </div>
      <div class="col species-col-small permit-col border-lft padded-15 border-btm">
        <div class="permit-field field-title">11.</div>
        <div class="permit-value"><%= "Placeholder" %></div>
      </div>
      <div class="col species-col-small permit-col border-lft padded-15 border-btm">
        <div class="permit-field field-title">11a.</div>
        <div class="permit-value"><%= "Placeholder" %></div>
      </div>
    </div>
    <div class="row other-details-row height-47">
      <div class="col permit-col country-origin">
        <div class="row permit-row">
          <div class="col col-xs-5 col-md-5 col-lg-5 country-value">
            <div class="permit-field field-title">12. Country of origin</div>
            <div class="permit-value"><%= "Placeholder" %></div>
          </div>
          <div class="col col-xs-4 col-md-4 col-lg-4 permit-no">
            <div class="permit-field field-title">Permit No.</div>
            <div class="permit-value border-lft"><%= "Placeholder" %></div>
          </div>
          <div class="col col-xs-3 col-md-3 col-lg-3 date">
            <div class="permit-field field-title">Date</div>
            <div class="permit-value border-lft"><%= "Placeholder" %></div>
          </div>
        </div>
      </div>
      <div class="col permit-col country-last border-lft">
        <div class="row permit-row">
          <div class="col col-xs-6 col-md-6 col-lg-6 country-value">
            <div class="permit-field field-title">12. Country of last re-export</div>
            <div class="permit-value"><%= "Placeholder" %></div>
          </div>
          <div class="col col-xs-3 col-md-3 col-lg-3 certificate-no">
            <div class="permit-field field-title">Certificate No.</div>
            <div class="permit-value border-lft"><%= "Placeholder" %></div>
          </div>
          <div class="col col-xs-3 col-md-3 col-lg-3 date">
            <div class="permit-field field-title">Date</div>
            <div class="permit-value border-lft"><%= "Placeholder" %></div>
          </div>
        </div>
      </div>
      <div class="col permit-col no-operation border-lft padded-15">
        <div class="permit-field field-title">12.b No. of the operation</div>
        <div class="permit-value"><%= "Placeholder" %></div>
      </div>
    </div>
  </div>
</div>
