<div class="species-details-block">
  <div class="row row-container species-details-row border-btm-2 height-53">
    <div class="col col-70 permit-col">
      <div class="row hor-padded-15">
        <div class="col col-xs-6 col-md-6 col-lg-6">
          <div class="permit-field field-title">7./8.</div>
          <div class="permit-value"><%= "Placeholder" %></div>
        </div>
        <div class="col col-xs-6 col-md-6 col-lg-6">
          <div class="permit-field field-title">9.</div>
          <div class="permit-value"><%= "Placeholder" %></div>
        </div>
      </div>
    </div>
    <div class="col col-10 permit-col border-lft padded-15">
      <div class="permit-field field-title">10.</div>
      <div class="permit-value"><%= "Placeholder" %></div>
    </div>
    <div class="col col-10 permit-col border-lft padded-15">
      <div class="permit-field field-title">11.</div>
      <div class="permit-value"><%= "Placeholder" %></div>
    </div>
    <div class="col col-10 permit-col border-lft padded-15">
      <div class="permit-field field-title">11a.</div>
      <div class="permit-value"><%= "Placeholder" %></div>
    </div>
  </div>
  <div class="row row-container other-details-row border-btm-2 height-47">
    <div class="col col-xs-2 col-md-2 col-lg-2 permit-col"></div>
    <div class="col col-xs-1 col-md-1 col-lg-1 permit-col"></div>
    <div class="col col-xs-1 col-md-1 col-lg-1 permit-col"></div>
    <div class="col col-xs-3 col-md-3 col-lg-3 permit-col"></div>
    <div class="col col-xs-1 col-md-1 col-lg-1 permit-col"></div>
    <div class="col col-xs-1 col-md-1 col-lg-1 permit-col"></div>
    <div class="col col-xs-3 col-md-3 col-lg-3 permit-col"></div>
  </div>
</div>
