<h1 class="permit-result-title">CITES Permit result</h1>

<div class="permit-details-container">
  <%= render "permit_type" %>
  <%= render "import_export" %>
  <%= render "conditions_and_management" %>
  <%= render "species_details" %>
  <%= render "issued_by" %>
  <%= render "endorsement_and_bill" %>
  <%= link_to "New CITES Permit Search", permits_path, class: "button search-button" %>
</div>

<div class="permit-details-container-mobile">
  <%= render "permits/mobile/permit_type_mobile" %>
  <%= render "permits/mobile/import_export_mobile" %>
  <%= render "permits/mobile/conditions_and_management_mobile" %>
  <%= render "permits/mobile/species_details_mobile" %>
  <%= render "permits/mobile/issued_by_mobile" %>
  <%= render "permits/mobile/endorsement_and_bill_mobile" %>
  <%= link_to "New CITES Permit Search", permits_path, class: "button search-button" %>
</div>
