<% @organisation.errors.full_messages.each do |message| %>
  <%= content_tag :div, message, class: "alert alert-notice" %>
<% end %>

<%= form_for @organisation, url: {action: action}, html: {id: form_id, class: 'form-horizontal'} do |f| %>
  <div class="organisation-details">
    <div class="form-group">
      <%= f.label(:name, class: 'col-sm-3 control-label'){ t('organisation_name') } %>
      <div class="col-sm-4">
        <%= f.text_field :name, value: @organisation.name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label(:role, class: 'col-sm-3 control-label'){ t('organisation_role') } %>
      <div class="col-sm-4">
        <%= f.select :role,
          options_for_select(Organisation::VALID_ROLES, @organisation.role),
          {}, {class: "form-control", disabled: !current_user.is_system_managers? }
        %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label(:country_id, class: 'col-sm-3 control-label'){ t('organisation_country') } %>
      <div class="col-sm-4">
        <%= f.select :country_id,
          options_for_select(@countries_for_dropdown, @organisation.country_id),
          {}, class: "form-control"
        %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label(:trade_reporting_unpermitted, class: 'col-sm-3 control-label') { t('trade_unpermitted') } %>
      <div class="col-sm-4">
        <%= f.check_box :trade_reporting_unpermitted,
           value: @trade_reporting_unpermitted, class: 'form-control'
        %>
      </div>
    </div>
    <h3><%= t('adapter_show_page') %></h3>
    <%= f.fields_for :adapter do |ff| %>
      <div class="form-group">
        <%= ff.label(:countries_with_access_ids, class: 'col-sm-3 control-label'){
            t('organisation_countries')
          }
        %>
        <div class="col-sm-4">
          <%= ff.select :countries_with_access_ids,
                options_for_select(@available_countries_for_dropdown),
                {},
                {
                  id: 'countries_with_access',
                  multiple: true,
                  data: { tags: @selected_countries_with_access }
                }
          %>
        </div>
      </div>
      <div class="form-group">
        <%= ff.label(:blanket_permission, class: "col-sm-3"){
            "Grant access to all countries"
          }
        %>
        <div class="col-sm-4">
          <%= ff.check_box :blanket_permission %>
        </div>
      </div>
    <% end %>
  </div>
<% end %> <!-- End Form -->
