<div class="list-header">
  <h2>Organisations</h2>
  <div class="buttons">
    <%= link_to 'Add organisation', new_admin_organisation_path , class: 'button' %>
  </div>
</div>

<table id="organisations_table">
  <thead>
    <tr>
      <th><%= t('organisation_id') %></th>
      <th class='searchable'><%= t('organisation_name') %></th>
      <th class='searchable'><%= t('organisation_role') %></th>
      <th class='searchable'><%= t('organisation_country') %></th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
    </tr>
  </thead>
  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td>
          <%= organisation.id %>
        </td>
        <td>
          <%= organisation.name %>
        </td>
        <td>
          <%= organisation.role %>
        </td>
        <td>
          <%= organisation.country && organisation.country.name %>
        </td>
        <td>
          <%= link_to('#') { fa_icon "pencil" } %>
        </td>
        <td>
          <%= link_to(
            admin_organisation_path(organisation),
            method: :delete,
            data: { confirm: t('delete_are_you_sure') }){ fa_icon "trash" }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th><input type="text" placeholder="Search name" ></th>
      <th><input type="text" placeholder="Search role" ></th>
      <th><input type="text" placeholder="Search country" /></th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
    </tr>
  </tfoot>
</table>
