<div class="form-header">
  <h2>Organisation details</h2>
  <div class="buttons">
    <%= link_to 'Back', admin_organisations_path, class: 'button btn-scnd' %>
    <%= link_to 'Edit', edit_admin_organisation_path(@organisation), class: 'button' %>
  </div>
</div>
<div class="form-horizontal">
  <div class="form-group">
    <label class='col-sm-3'>Name</label>
    <span class='col-sm-5'><%= @organisation.name %></span>
  </div>
  <div class="form-group">
    <label class='col-sm-3'>Role</label>
    <span class='col-sm-5'><%= @organisation.role %></span>
  </div>
  <div class="form-group">
    <label class='col-sm-3'>Country</label>
    <span class='col-sm-5'><%= @organisation.country.try(:name) %></span>
  </div>
</div>

<div class="form-header">
  <h2>Web Service details</h2>
  <div class="buttons">
    <%= link_to 'Edit', '#', class: 'button' %>
  </div>
</div>
<div class="form-horizontal">
  <% if @adapter %>
    <div class="form-group">
      <label class='col-sm-3'>Status</label>
      <span class='col-sm-3'>
        <%= check_box_tag :status, 'is_available', @adapter.is_available, disabled: true %>
        <%= @adapter.is_available ? "Up" : "Down" %>
      </span>
    </div>
    <div class="form-group">
      <label class='col-sm-3'>URI</label>
      <span class='col-sm-5'><%= @adapter.try(:web_service_uri) %></span>
    </div>
  <% else %>
    <div class="form-group">
      <label class='col-sm-3'>Status</label>
      <span class='col-sm-3'>Not configured</span>
    </div>
  <% end %>
</div>
