<div class="form-header">
  <h1><%= t('organisation_show_page') %></h1>
  <div class="buttons">
    <% if can? :read, Organisation, id: @organisation.id %>
      <%= link_to t('back_button'), admin_organisations_path, class: 'button btn-scnd' %>
    <% end %>
    <% if can? :update, Organisation, id: @organisation.id %>
      <%= link_to t('edit_button'), edit_admin_organisation_path(@organisation), class: 'button' %>
    <% end %>
  </div>
</div>
<div class="form-horizontal organisation-details">
  <div class="form-group">
    <label class='col-sm-3'><%= t('organisation_name') %></label>
    <span class='col-sm-5'><%= @organisation.name %></span>
  </div>
  <div class="form-group">
    <label class='col-sm-3'><%= t('organisation_role') %></label>
    <span class='col-sm-5'><%= @organisation.role %></span>
  </div>
  <div class="form-group">
    <label class='col-sm-3'><%= t('organisation_country') %></label>
    <span class='col-sm-5'><%= @organisation.country.try(:name) %></span>
  </div>
</div>

<% if @organisation.is_cites_ma? %>
  <div class="form-header">
    <h2><%= t('permit_exchange_settings') %></h2>
  </div>

  <h3><%= t('adapter_show_page') %></h3>

  <div class="form-horizontal organisation-details">
    <% if @adapter %>
      <div class="form-group">
        <label class='col-sm-3'><%= t('adapter_status') %></label>
        <span class='col-sm-3'>
          <%= check_box_tag :status, 'is_available', @adapter.is_available, disabled: true %>
          <%= @adapter.is_available ? t('adapter_up') : t('adapter_down') %>
        </span>
      </div>
      <div class="form-group">
        <label class='col-sm-3'><%= t('adapter_uri') %></label>
        <span class='col-sm-5'><%= @adapter.try(:wsdl_url) %></span>
      </div>
    <% else %>
      <div class="form-group">
        <label class='col-sm-3'><%= t('adapter_status') %></label>
        <span class='col-sm-3'><%= t('adapter_not_configured') %></span>
      </div>
    <% end %>
  </div>
<% end %>

<% if @organisation.is_cites_ma? && @adapter %>
  <h3><%= t('access_control_page') %></h3>

  <div class="form-horizontal organisation-details access-list-container">
    <table class="access-list-table">
      <thead>
        <tr>
          <th><%= t('cites_party') %></th>
          <th><%= t('access_granted') %></th>
        </tr>
      </thead>
      <tbody>
        <% @available_countries.each do |country| %>
          <tr class="access-row">
            <td class="country-name bold"><%= country.name %></td>
            <td class="has-access"><%= has_access(country) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @organisation.is_cites_ma? %>
  <div class="form-header">
    <h2><%= t('trade.reporting_details') %></h2>
  </div>
  <div class="form-horizontal organisation-details">
    <div class="form-group">
      <label class='col-sm-3'><%= t('trade.reporting_enabled') %></label>
      <span class='col-sm-5'>
        <%= trade_reporting_enabled?("trade_reporting_enabled") %>
      </span>
    </div>
    <div class="form-group">
      <label class='col-sm-3'><%= t('trade.error_correction') %></label>
      <span class='col-sm-5'>
        <%= trade_reporting_enabled?("trade_error_correction_in_sandbox_enabled") %>
      </span>
    </div>
  </div>
<% end %>
