<div class="edit-header">
  <h2>Edit account</h2>
  <div class="buttons">
    <%= link_to 'Cancel', admin_users_path, class: 'button btn-scnd' %>
    <input type="submit" value="Submit" form="user_edit_form" class='button'>
  </div>
</div>

<%= render partial: "form", locals: {action: "update", form_id: "user_edit_form"} %>

<h3>Web Service details</h3>
<div class="web-service-details form-horizontal">
  <div class="form-group">
    <label class='col-sm-3'>Status</label>
    <span class='col-sm-3'>
      <%= check_box_tag :status, 'is_available',  @adapter.try(:is_available),  disabled: true %>
      <%= @adapter.try(:is_available)? "Up" : "Down" %>
    </span>
  </div>
  <div class="form-group">
    <label class='col-sm-3'>URI</label>
    <span class='col-sm-5'><%= @adapter.try(:web_service_uri) %></span>
  </div>
</div>

