<% @user.errors.full_messages.each do |message| %>
  <%= content_tag :div, message, class: "alert alert-notice" %>
<% end %>

<div class="form-header">
  <h2><%= t('user_new_page') %></h2>
  <%= render partial: "buttons", locals: {form_id: "new_user_form"} %>
</div>

<%= render partial: "form", locals: {action: "create", form_id: "new_user_form"} %>

<div class="form-footer">
  <%= render partial: "buttons", locals: {form_id: "new_user_form"} %>
</div>
