<% @user.errors.full_messages.each do |message| %>
  <%= content_tag :div, message, class: "alert alert-notice" %>
<% end %>

<div class="form-header">
  <h1><%= t('user_new_page') %></h1>
  <%= render partial: "buttons", locals: {
    form_id: "new_user_form",
    cancel_path: admin_users_path
  } %>
</div>

<%= render partial: "form", locals: {action: "create", form_id: "new_user_form"} %>

<div class="form-footer">
  <%= render partial: "buttons", locals: {
    form_id: "new_user_form",
    cancel_path: admin_users_path
  } %>
</div>
