<div class="form-header">
  <h2><%= t('user_show_page') %></h2>
  <div class="buttons">
    <%= link_to t('back_button'), admin_users_path, class: 'button btn-scnd' %>
    <% if can? :update, User, id: @user.id %>
      <%= link_to t('edit_button'), edit_admin_user_path(@user), class: 'button' %>
    <% end %>
  </div>
</div>
<div class="form-horizontal user-details">
  <div class="form-group">
    <label class='col-sm-3'><%= t('user_first_name') %></label>
    <span class='col-sm-5'><%= @user.first_name %></span>
  </div>
  <div class="form-group">
    <label class='col-sm-3'><%= t('user_last_name') %></label>
    <span class='col-sm-5'><%= @user.last_name %></span>
  </div>
  <div class="form-group">
    <label class='col-sm-3'><%= t('user_email') %></label>
    <span class='col-sm-5'><%= @user.email %></span>
  </div>
  <div class="form-group">
    <label class='col-sm-3'><%= t('user_organisation') %></label>
    <span class='col-sm-5'>
      <% if @user.organisation %>
        <%= link_to @user.organisation.display_name, admin_organisation_path(@user.organisation) %>
      <% end %>
    </span>
  </div>
  <div class="form-group">
    <label class='col-sm-3'><%= t('user_is_admin') %></label>
    <span class='col-sm-3'>
      <%= check_box_tag :is_admin, 'is_admin', @user.is_admin, disabled: true %>
    </span>
  </div>
</div>
