<!DOCTYPE html>
<html>
<head>
  <title>Epix</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ga' %>
</head>
<body>

<div class="top-level-container">
  <div class="borders-wrapper">
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
